version: '3.8'

services:
  db:
    image: postgres:16-alpine # Use a lightweight PostgreSQL image
    container_name: django_postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/ # Persistent volume for data
    environment:
      POSTGRES_DB: reimburse-db
      POSTGRES_USER: reimburse-user
      POSTGRES_PASSWORD: Secret123!
    ports:
      - "54321:5432"
  web:
    container_name: be_expo
    build: .
    volumes:
      - ./media/:/app/media
      - ./static/:/app/static
      - ./logs/:/app/logs
    ports:
      - 9005:8000
volumes:
  postgres_data: